{% extends 'base.html' %}

{% block content %}
<div class="container p-4 mb-4 my-3">
    <form method='POST'>
      {% csrf_token %}
      {{ form.as_p }}
      Type the topic you want to analyze: <input type="text" name="name" placeholder="COVID, ELECTION...">
      Select the time interval: <input type="text" name="date_interval" placeholder="day, week, month or year">
      <button class="btn btn-light" type="submit">Analyze!</button>
    </form>
</div>
<h5>The word you searched for: {{data}}</h5>
<h5>Selected time filter: {{date_interval}}</h5>
<div class="container p-4 mb-4 my-3">
    <div class="row">      
        <div class="card">
            <div class="card" style="width: 18rem;">
              <h1>My Profile</h1>
              <img src="{{ user_selected.image_url }}" class="card-img-top" alt="..." width="100" height="300">
              <div class="card-body">
                  <h5 class="card-title">{{ request.user.first_name }}{{ " " }}{{ request.user.last_name }}</h5>
                  <h5 class="card-title">{{ request.user.email }}</h5>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <h1>Search History</h1>
              <div class="card-body">
                <a href="/dashboard/showhistory" class="btn btn-primary">HISTORY RECORDS</a>
              </div>
            </div>
      </div>     
      <div class="card">
          <div class="card" style="width: 49rem;">
            <div class="card-body">
                <h1 class="card-title">Dashboard</h1>
                <h5 class="card-title">Most Common Used Words</h5>
                <img src=r'mplimage.png' class="card-img-top" alt="...">
                <p class="card-text">You can see the common words used about the topic you choose.</p>
                <a href="/dashboard/image" class="btn btn-primary">Click to see the graph in detail</a>
            </div>
            <div class="card-body">
              <h1 class="card-title">Analysis steps are listed below!</h1>
              <a href="/dashboard/displayposts" class="btn btn-primary">Click to see the post titles</a><br /> 
              <br /> 
              <a href="/dashboard/tagme" class="btn btn-primary">Click to see the entity list</a><br /> 
              <br /> 
              <a href="/dashboard/sentiment" class="btn btn-primary">Click to see the sentiment analysis</a><br /> 
              <br /> 
              <a href="/dashboard/wordcloud" class="btn btn-primary">Click to see the WordCloud</a><br /> 
              <br /> 
              <a href="/dashboard/entitylist" class="btn btn-primary">Click to see the entity relations</a><br /> 
              <br /> 
              <a href="/dashboard/networkgraph" class="btn btn-primary">Click to see the word co-occurrence network graph</a>
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}
